<h3>
    {{username}}'s To Do List
    <h6>{{itemCount}} Items</h6>
</h3>
<input aria-placeholder="Enter Task her" #todoText/>
<button (click)="addItem(todoText.value)">Add</button>
<table class="todoLists">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Description
            </th>
            <th>
                Done
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items; let i=index">
            <td>
                {{i+1}}
            </td>
            <td>
                {{item.task}}
            </td>
            <td><input type="checkbox" [(ngModel)]="item.complete"></td>
            <td [ngSwitch]="item.complete">
                <span *ngSwitchCase="true">Yes</span>
                <span *ngSwitchDefault>No</span>
            </td>
        </tr>
    </tbody>

</table>